<?xml version="1.0"?>
<model>
  <name>training_satellite</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>JADE SpaceApps</name>
    <email>n/a@example.com</email>
  </author>
  <description>
    Simple satellite body with IMU and 8 thruster frames for training control in a LEO-like microgravity world.
  </description>
</model>
